<!DOCTYPE html>
<html>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="index.html">HoneyBoard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
        <!-- DECOMMENTARE PER AGGIUNGERE IL CONTACT -->
        <!-- <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
          </ul>
        </div> -->
      </div>
    </nav>
    <!-- Logo -->
    <header class="bg-secondary-light text-white">
      <div class="container text-center">
        <img src="assets/logo.png" alt="logo" width="250" />
      </div>
    </header>
    <div class="container">
      <div class="row">
        <h3 class="h3 py-5">
          Inserisci i dati per generare un'etichetta da scannerizzare con Bee2Honey!
        </h3>
      </div>
    </div>
    <info-form></info-form>



      <!-- Footer-->
    <footer class="py-5 bg-primary">
      <div class="container">
        <p class="m-0 text-center text-dark">Elia Marcantognini &copy; HoneyBoard 2021</p>
      </div>
    </footer>
  </body>

</html>
